@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  margin: 0 auto;
  position: absolute;
  color: white;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 20vh;
  background: linear-gradient(rgba(0, 14, 40, 1), rgba(1, 128, 214, 1));
  backdrop-filter: blur(1em);
}

header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  padding-bottom: 0.5em;
  min-height: 10%;
  border-bottom: 0.1em solid black;
  background: linear-gradient(rgba(0, 14, 40, 0.6), rgba(1, 128, 214, 0.6));
  backdrop-filter: blur(0.2em);
  z-index: 10;
}

main{
  display: flex;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(rgba(0, 14, 40, 0),rgba(0, 14, 40, 0)), url('@/assets/atom-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: center top;
}

h1 {
  color: white;
  font-size: 8em;
  text-align: center;
  padding-bottom: 1em;
}

p {
  font-size: 3em;
}